* {
    margin: 0;
    padding: 0;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    
    
    
}
body {
    background-color: #f8ede36b;
    
}

div {
    display: block;
    position: relative;
    box-sizing: border-box;
}

 .container {
    width: 100%;
    overflow: hidden; 
}

#mainHeader {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 95px;
    z-index: 100;
    box-shadow: 0 2px 9px 0 rgb(0 0 0 / 20%), 0 0px 4px 0 rgb(0 0 0 / 19%);
    background-color: #f8ede36b;
}


#logo {
  font-family: papyrus;
  padding: 8px 20px;
  text-align: center;
  color: #7D6E83;
}


/************************
Main Form CSS
************************/

#mainHeader {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 95px;
    z-index: 100;
    box-shadow: 0 2px 9px 0 rgb(0 0 0 / 20%), 0 0px 4px 0 rgb(0 0 0 / 19%);
    background-color: #f8ede36b;
}


#logo {
  font-family: papyrus;
  padding: 20px 20px;
  text-align: center;
  color: #7D6E83;
}
#receiptHead {
    text-transform: uppercase;
    text-align: center;
    padding: 30px;
}


.row {
    width: 40%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    font-family: monospace;
}
    


.col-1, .col-2, .col-3, .col-4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 25px;
    flex-basis: 0;
    flex-grow: 1;
    margin-bottom: 25px;
    font-size: 20px;
    color: black;
}

input {
    width: 200px;
    border: 1px solid gray;
    border-radius: 3px;
    padding-left: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
}

::placeholder {
    color: rgba(114, 113, 113, 0.427);
    font-size: 12px;
    /* padding-left: 5px; */

}
.checkoutBtn {
    padding: 0% 6% 4% 6%;
   margin-left: 50px;

  }

  #taxCalculate {
    text-transform: uppercase;
  }

  .calculateBtn button {
    width: 72%;
    height: 36px;
    background: #7D6E83;
    color: #FFFFFF;
    font-size: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    border: none;
    outline: none;
    display: inherit;
    cursor: pointer;
    margin: 0 auto;
  }

#errors {
    color: red;
    font-family: cursive;
    font-size: 14px;
    line-height: 34px;
    text-align: center;
    padding: 10px;
    margin: 0;
    border-radius: 10px;
}

sup {
    color: red;
}

table {
    width: 70%;
    border: 1px solid #7D6E83;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
  }

  tr {
    padding: 20px;
  }
 td, th {
    border: 1px solid #7D6E83;
    padding: 10px;
  }

  span {
    margin-left: -12px;
  }
